@model ReservationDetailsViewModel

<h3 style="color: white">Are you sure you want to delete the following reservation:</h3>

<div class="card" style=" background: rgba(255, 255, 255, 0.6);">
    <div class="card-body">
        <h5 class="card-title"><label asp-for="MemberFullName"></label>: @Model.MemberFullName</h5>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="ReservationName"></label>: @Model.ReservationName</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="DateTime"></label>: @Model.DateTime</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="PaymentMethod"></label>: @Model.PaymentMethod</h6>
        <h6 class="card-subtitle mb-2 text-muted"><label asp-for="Price"></label>: @Model.Price</h6>
    </div>
</div>
<br />

<div class="row">
    @foreach (var bookName in Model.BookNames)
    {
        <div class="card" style="width: 18rem; margin-left:15px;">
            <img class="card-img-top" src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/50/2018/11/06110356/hero.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="text-center">@bookName</h3>
            </div>
        </div>
    }
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary" value="Delete">Delete</button>
        <a asp-action="Index"   class="btn btn-secondary">Back/Cancel</a>
    </div>

    
</form>
