@using SEDC.PizzaApp.Models.Domains
@using SEDC.PizzaApp.Models.ViewModels

@model PizzaDetailsViewModel

<h2>Order details:</h2>
<h4>@ViewBag.Message</h4>



<p>Pizza name: @Model.PizzaName</p>
<p>PizzaSize: @Model.PizzaSize </p>
<p>Price: @Model.Price DEN</p>

<h4>The first user in our app is: @ViewBag.User.FirstName</h4>